[submodule "Sources/sdk/STINGRAY"]
	path = Sources/sdk/STINGRAY
	url = https://github.com/jmfrank63/STINGRAY-STUDIO-2003.git
[submodule "Sources/sdk/BINK"]
	path = Sources/sdk/BINK
	url = https://github.com/jmfrank63/bink.git
[submodule "Sources/sdk/FMOD"]
	path = Sources/sdk/FMOD
	url = https://github.com/jmfrank63/fmod-3.75.git
